# {{ project_name }}

{{ project_description }}

## Installation

With `pip`:
```bash
pip install {{ python_package_distribution_name }}
```

With [`pipx`](https://github.com/pipxproject/pipx):
```bash
python -m pip install --user pipx
pipx install {{ python_package_distribution_name }}
```